 h1{
    color: red
}
body
{
    background-image :url('image.jpg');
background-repeat: no-repeat;
background-attachment:fixed;
background-size: cover;
} */
table,th,td{
    border: 1px solid blue;
    border-radius: 10px;
    border-style: dotted;
}
body img{
    border-radius: 20px;
}
button{
     transition-duration: 0.4s;
    }
.button:hover{
    background-color: blue;
    color: black;
}
     

    
